<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="APILoggingConnection" connectionString="Data Source=192.185.11.98;Initial Catalog=dinspire_ftlog;User ID=dinspire_ftuser;Password=j89I7_ul;Connection Timeout=300;Pooling=True;Max Pool Size=250;" />
  </connectionStrings>
  <appSettings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
  </system.codedom>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Tyler.ECF.Core.EFMNotification" behaviorConfiguration="NotificationBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingName="FilingAssemblyMDEPort" bindingNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServicesProfile-Definitions-4.0" bindingConfiguration="NotificationEndpointBinding" contract="Tyler.ECF.Core.IFilingAssemblyMDEPort" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!--https-->
      </service>
      <service name="FileTime.Web.Services.eFaxDisposition" behaviorConfiguration="WSWebBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="http" behaviorConfiguration="web" name="http" contract="FileTime.Web.Services.IeFaxDisposition" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- uncomment this in production to enable https -->
        <!--<endpoint binding="webHttpBinding" bindingConfiguration="https"
          name="https" contract="FileTime.Web.Services.IeFaxDisposition" />-->
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="MessageBinding" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:01:00" sendTimeout="01:01:00" maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864" transferMode="StreamedRequest" messageEncoding="Mtom">
          <readerQuotas maxDepth="67108864" maxStringContentLength="67108864" maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="MessageBindingNoSecurity" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="67108864" maxBufferSize="32768" maxReceivedMessageSize="67108864" transferMode="Streamed" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="67108864" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="NotificationEndpointBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864" transferMode="Streamed" messageEncoding="Mtom">
          <readerQuotas maxDepth="67108864" maxStringContentLength="67108864" maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IEfmFirmService" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEfmFirmService1" messageEncoding="Mtom">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="MaxClockSkewBinding">
          <textMessageEncoding />
          <security authenticationMode="Kerberos">
            <localClientSettings maxClockSkew="00:07:00" />
            <localServiceSettings maxClockSkew="00:07:00" />
          </security>
          <httpTransport />
        </binding>
        <binding name="NoKeepAlive" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:01:00" sendTimeout="01:01:00">
          <security authenticationMode="CertificateOverTransport" requireSecurityContextCancellation="true" />
          <mtomMessageEncoding messageVersion="Soap11" maxBufferSize="67108864">
            <readerQuotas maxDepth="67108864" maxStringContentLength="67108864" maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          </mtomMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483646" keepAliveEnabled="false" />
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="http" maxBufferSize="20971520" maxBufferPoolSize="20971520" maxReceivedMessageSize="20971520" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://efspstage.efiletexas.gov/efm/EFMUserService.svc" behaviorConfiguration="ClientCertificateBehavior" binding="basicHttpBinding" bindingConfiguration="MessageBinding" contract="EFMUserServices.IEfmUserService" name="BasicHttpBinding_IEfmUserService" />
      <endpoint address="https://efsp.efiletexas.gov/EFM/EFMFirmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmFirmService" contract="EFMFirmServices.IEfmFirmService" name="BasicHttpBinding_IEfmFirmService" />
      <endpoint address="https://efsp.efiletexas.gov/EFM/EFMFirmService.svc/test" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmFirmService1" contract="EFMFirmServices.IEfmFirmService" name="BasicHttpBinding_IEfmFirmService1" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="ClientMessageInspector" type="FileTime.EFMApi.Behaviors.ClientMessageInspector, FileTime.EFMApi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <clientCertificate findValue="*.filetime.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="*.filetime.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MessageServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="*.filetime.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
        <behavior name="NotificationBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="WSWebBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="24" maxConcurrentSessions="24" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>